@font-face {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Bold"), url("Gilroy-Bold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Heavy"), url("Gilroy-Heavy.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Light";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Light"), url("Gilroy-Light.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Medium"), url("Gilroy-Medium.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Regular"), url("Gilroy-Regular.woff") format("woff");
}

body {
  font-family: "Gilroy-Regular", "Helvetica Neue";
  transition: background 0.4s ease-in;
  background-color: #000000;
  overflow-x: hidden;
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

/* START HERO */
#hero {
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
}

#hero:before {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  gap: 170px;
  margin-bottom: 100px;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.heroImage {
  width: 483px;
  height: 612px;
  flex-shrink: 0;
}

.partnersHolder {
  display: flex;
  align-items: flex-start;
  gap: 16.603px;
}

.heroText {
  color: var(--Yellow, #fff);
  font-family: "Gilroy";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 100% */
}

.heroDescription {
  color: var(--White, #fff);
  font-family: "Gilroy";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}

.weAre {
  color: var(--White, #fff);
  font-family: "Gilroy";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 300% */
}

.ctaButton {
  display: inline-flex;
  padding: 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  text-align: center;
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 100% */
  border-radius: 100px;
  background: #2b79ff;
  margin-top: 48px;
}

/* FIN HERO */

/* BACKGROUND */
.mainContainer {
  background: url("../images/circulo\ azul.svg") top left;
  background-repeat: no-repeat;
  background-size: 100%;
}

/* MENU */
#header {
  display: flex;
  z-index: 997;
  transition: all 0.5s;
  height: 80px;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  transition: background-color 0.4s ease-in-out;
}

#header.scrolled {
  background-color: #000;
}

.backgroundBlack {
  background-color: #000;
}

#header.header-transparent {
  background: transparent !important;
}

#header.header-scrolled {
  height: 60px;
  background: rgba(25, 28, 31, 0.8);
}

.navbar {
  display: flex;
  max-width: 1230px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.menuCTA {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: #2b79ff;
  color: #fff;
  text-align: center;
  font-family: "Gilroy";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}

.menuLogo {
  width: 128px;
  height: 38.723px;
  flex-shrink: 0;
}

/* FIN MENU */

/* CASES SECTION */

.containerCases {
  background: url("../images/circulo\ amarillo.svg") top right;
  background-repeat: no-repeat;
  background-size: 100%;
}

.headerCases {
  color: #fff;
  text-align: center;
  font-family: "Gilroy-Medium";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 120% */
}

.dataCard {
  display: flex;
  width: 771px;
  justify-content: center;
  align-items: flex-start;
  margin-top: 36px;
  gap: 232px;
}

.dataTextSection {
  width: 364px;
  height: 119px;
  flex-shrink: 0;
}

.dataLogo {
  width: 175px;
  height: 72px;
  flex-shrink: 0;
}

.dataText {
  color: #fff;
  font-family: "Gilroy-Medium";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.bookAMeeting {
  display: flex;
  line-height: 24px;
  align-items: center;
}

.dataCTA {
  text-decoration: none;
  color: #ffc700;
  font-family: "Gilroy-Medium";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.arrowCTA {
  padding-left: 5px;
}

/* WHITE SECTION */
.whiteSection {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.funnelSection {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 100px;
}

/* CARRUSEL PRODUCTOS */

.headlineProducts {
  color: #000;
  text-align: center;
  font-family: Gilroy;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 120% */
  margin-bottom: 96px;
}

.carruselProducts {
  display: flex;
  flex-direction: row;
}

#buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 82px;
}

.line {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 305px;
  height: 1px;
  opacity: 0.08;
  background: #000;
}

.productsTitle {
  color: var(--Black, #000);
  font-family: Gilroy;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 200% */
}

.productsDescription {
  color: var(--Black, #000);
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-top: 24px;
}

.productsCTA {
  color: var(--Blue, #2b79ff);
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  margin-top: 24px;
  display: flex;
  align-items: center;
}

.bookAMeeting {
  display: flex;
  line-height: 24px;
  align-items: center;
}

.arrowCTABlue {
  margin-top: 24px;
  padding-left: 5px;
}

.productButtons {
  color: var(--Black, #000);
  font-family: Gilroy;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 200% */
  opacity: 0.32;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
  &:hover {
    opacity: 1;
  }
  &.active {
    opacity: 1;
  }
  &.focus {
    opacity: 1;
  }
  &:checked {
    opacity: 1;
  }
  &.targets {
    opacity: 1;
  }
}
.hoverButton {
  opacity: 1;
}

.middle {
  display: grid;
  grid-template-areas: "inner-div";
  margin-left: 120px;
}

.marginLeft {
  margin-left: 120px;
}

.inner {
  display: flex;
  flex-direction: row;
  grid-area: inner-div;
}

.videosVertical {
  width: 300px;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
}

.hidden {
  opacity: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
}

.display {
  opacity: 1;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
}

/* CARRUSEL DE LOGOS */

.headlineStackOfTools {
  color: #000;
  text-align: center;
  font-family: Gilroy;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 24px;
}

.stackOfTools {
  background-color: #fff;
  display: flex;
  padding: 100px 0px;
  flex-direction: column;
  align-items: center;
}

.descriptionTools {
  color: #000;
  text-align: center;
  font-family: Gilroy;
  font-size: 19px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  width: 620px;
  text-wrap: wrap;
  line-height: 24px; /* 126.316% */
}
.toolsLogos {
  width: 100%;
  min-width: 180px;
  animation: scroll 60s linear infinite;
}

.slide-track {
  width: 100%;
  display: flex;
  gap: 10px;
  overflow: hidden;
}

.slider {
  margin-top: 70px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translatex(-1000%);
  }
}

/* TESTIMONIONS */

.testimonialSection {
  background-color: #fff;
  display: flex;
  padding: 100px 0px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.cardWrapper {
  margin-top: 74px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.cardTestimonials {
  display: flex;
  width: 413px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 24px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: #fff;
  margin-bottom: 24px;
}

.dataTestimonialBox {
  display: flex;
  gap: 16px;
}

.photoTestimonial {
  width: 79px;
  height: 79px;
}

.textBox {
  display: flex;
  height: 51px;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  flex: 1 0 0;
}

.nameTestimonials {
  color: #000;
  font-family: "Gilroy-Medium";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18.88px; /* 118.003% */
}
.positionTestimonial {
  color: #000;
  font-family: "Gilroy-Medium";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */
}

.companyTestimonial {
  color: #b6b6b6;
  font-family: "Gilroy-Medium";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px; /* 116.667% */
}

.testimonialText {
  color: #000;
  font-family: "Gilroy-Medium";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 126.316% */
}

/* PRICING */

.pricingSection {
  padding-top: 100px;
  background: url("../images/circulo\ azul.svg") top left,
    url("../images/circulo\ amarillo.svg") top right;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 200vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.pricingTitle {
  text-align: center;
  line-height: 72px; /* 112.5% */
}

.pricingTable {
  margin-top: 96px;
  display: flex;
  gap: 32px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.pricingCard {
  width: 343px;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.24);
  /* opacity: 0.56; */
  background: rgba(255, 255, 255, 0.16);
  display: flex;
  flex-direction: column;
  padding: 19 32 49 32;
}

.pricingPill {
  padding: 8px 16px;
  color: #fff;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.16);
  text-align: center;
  display: flex;
  align-items: center;
  font-family: "Gilroy Medium";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 133.333% */
  width: 43px;
  height: 10px;
}

.planTitle {
  color: var(--Yellow, #ffc700);
  font-family: "Gilroy Medium";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px; /* 180% */
}

.incluidoP {
  color: #fff;
  font-family: "Gilroy Medium";
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 126.316% */
}

.price {
  color: #fff;
  font-family: "Gilroy-Bold";
  font-size: 64px;
  font-weight: 700;
  line-height: 48px; /* 75% */
  margin-top: 37px;
}

.tick {
  border-radius: 100px;
  background: #fff;
  margin-right: 17px;
}

.line {
  background: white;
  height: 1px;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 100%;
}

.included {
  color: #fff;
  font-family: "Gilroy-Medium";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
}

.ctaPrice {
  display: flex;
  width: 279px;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.08);
  color: var(--White, #fff);
  text-align: center;
  font-family: "Gilroy";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
}

.pricingCard:nth-child(2) {
  padding-bottom: 80px;
}

.formSection {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

form {
  margin: auto;
  width: 90%;
}

.btn {
  border-radius: 50px;
  width: 200px;
}

label {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Gilroy";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 8px;
}

input {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  box-shadow: none !important;
  -webkit-autofill: "color: #fff !important;";
  display: flex;
  height: 56px;
  padding: 0px 24px;
  margin: 8px 24px 40px 0px;
  align-items: center;
  gap: 10px;
  width: 100%;
  align-self: stretch;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.08) inset;
}

/* FOOTER */

.footer {
  display: flex;
  max-width: 1230px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  gap: 24px;
}

.footerText {
  color: #fff;
  font-family: "Gilroy";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px; /* 135.714% */
}

.footerImage {
  width: 24px;
  margin-right: 16px;
}

/* CARRUSEL */

.containerSlider {
  height: 100vh;
  max-width: 1440px;
  width: 100%;
}

.slideStyle {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 100vh;
  transition: 0.25s;
}

.swiperParallax.swiper {
  width: 100%;
  overflow: hidden;
}

.swiperParallax .swiper-wrapper {
  flex-direction: row;
  align-items: center;
  display: flex;
}
.swiperParallax .swiper-slide {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 150px;
  grid-row-gap: 150px;
  flex-direction: column;
  flex: none;
}
.swiperParallax .swiper-slide.swiper-slide-active .gallery-img__wrapper {
  opacity: 1;
  transform: scale(1);
  .dataCard {
    opacity: 1;
    transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1),
      opacity 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  }
}
.swiperParallax .swiper-slide.swiper-slide-active .gallery-info__wrapper {
  opacity: 1;
  transform: translateY(0%);
  .dataCard {
    opacity: 1;
    transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1),
      opacity 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  }
}

.card {
  display: flex;
  flex-direction: column;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.swiperParallax .gallery-img__wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.25;
  transform: scale(0.6);
  transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1),
    opacity 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  .dataCard {
    opacity: 0;
  }
}
.imageCard {
  width: 771px;
  height: 459px;
  border-radius: 72px;
  object-fit: cover;
}
.swiperParallax .gallery-img__wrapper .gallery-img {
  width: 771px;
  height: 459px;
  border-radius: 72px;
  object-fit: cover;
}
.swiperParallax .gallery-info__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(50%);
  transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1),
    opacity 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.navigation {
  display: flex;
  flex-direction: row;
  margin-right: 20%;
  justify-content: flex-end;
}

.swiper-next {
  background-image: url("../images/next-button.svg");
  width: 64px;
  height: 64px;
  margin-left: 16px;
}

.swiper-prev {
  background-image: url("../images/prev-button.svg");
  width: 64px;
  height: 64px;
}
